<div class="container">

 <h1 class="text-center"><%= @promotion.title %> proposed by: <%= @promotion.seller.username %></h1>

  <h3>Description</h3>
  <ul>
  <li>
  <%= @promotion.producttype %>
  </li>
  <li>
    <%= @promotion.description %>
  </li>
  </ul>
  </div>
<div class="container text-center bottom">
  <%= link_to ' Back',promotions_path, { :class=>"btn-medium fa fa-arrow-left" } %>
  <%= link_to ' Edit', edit_promotion_path, { :class=>"btn-medium fa fa-pencil-square-o" } %>
</div>
  <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @promotion_coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        });
    });
    <% end %>
  <% end %>







<p>Find me in app/views/promotions/show.html.erb</p>
