<div class="container">
<div class="row">
<div class="banner-seller">
 <h1 class="text-center"><%= @promotion.title %></h1>
 <div class="profil text-center">
 <i>proposed by:</i><br/><br/>
 <img src="/assets/shop.png" alt="seller" class="avatar-large"><h2><%= @promotion.seller.username %></h2>
  </div>
  <div class="banner-description"><h3>Description</h3>
  <ul>
  <li>
  <%= @promotion.producttype %>
  </li>
  <li>
    <%= @promotion.description %>
  </li>
  <li>
    Discount: <strong>-<%= @promotion.discount %>%</strong>
  </li>
  <li>
    Price: <strong><%= @promotion.priceperunit %>€</strong>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
<div class="container text-center bottom">
  <%= link_to ' Back',promotions_path, { :class=>"btn-medium fa fa-arrow-left" } %>
  <%= link_to ' Edit', edit_promotion_path, { :class=>"btn-medium fa fa-pencil-square-o" } %>
</div>
  <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @promotion_coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        });
    });
    <% end %>
  <% end %>







<p>Find me in app/views/promotions/show.html.erb</p>
